/* CSS declarations go here */

/* .tab-content {
  padding: 20px !important;
}

*/

body {
  background-image: url('images/login.jpg');
  /* background-image: url('images/bg02.png'); */
  background-repeat: repeat;
  height:100%;
  /*overflow:hidden;*/
}

.background-container {
  background: white;
}

.sing-in-container {
  margin-top: 12.5%;
}

/* header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
} */

/* body {
  background-image: url('images/login.jpg');
  background-repeat: no-repeat;
  height:100%;
}

.background-container {
  background: white;
}*/

.breadcrumb-nav {
  background-color: #fff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.12), 0 3px 0 -2px rgba(0, 0, 0, 0.2) !important;
}

.breadcrumb-nav a.breadcrumb{
  color: #333333;
  text-decoration: none;
  border-bottom: 0px;
}

.breadcrumb-nav a.breadcrumb:last-child{
  color: #009a80;
  opacity: 1;
}

.breadcrumb-nav a.breadcrumb:before {
  color: #009a80;
}

.btn-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-submit {
  height: 3rem !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ff9100 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #ff6d00 !important;
}

.card .card-content-publication {
  padding-bottom: 0px;
}

.card .card-content-commnet {
  padding-bottom: 0px;
  padding-top: 0px;
}

.card .card-content-comment-list {
  /* background-color: #e1e2e3; */
  background-color: #f7f7f7;
  padding-bottom: 1px;
  padding-top: 20px;
}

.card .card-map-action {
  padding: 0px 0px !important;
}

.card .card-map-content {
  padding: 0px 0px !important;
}

.car .card-action .card-map-action .row {
  margin-bottom: 0px;
}

.card .card-map-content .row {
  margin-bottom: 0px;
}

.card .card-map-content .map-show-container {
  margin-bottom: 1px;
  margin-top: 0px;
}

.chip-input-field {
  margin-top: 60px;
  margin-bottom: 30px;
}

.collection {
  margin: 0rem !important;
  border: 0px !important;
  border-radius: 0px !important;
  background-color: #fff !important;
}

.collection a.collection-item{
  color: #333333;
  text-decoration: none;
  opacity: 1;
}

.collection .collection-item {
  position: relative !important;
}

.collection .collection-item.active:hover {
  font-weight: bold;
}

.collection .collection-item:not(.active):hover {
  background-color: #ddd;
}

.collection .collection-item p {
  margin: 0px !important;
  color: #90949c;
  font-size: 11px;
}

.collection .collection-item.active p{
  color: #eafaf9;
  opacity: 0.8;
}

.collection .collection-item .secondary-content {
  position: absolute !important;
  top: 16px !important;
  right: 16px !important;
}

.collection .collection-item:not(.active) .secondary-content {
  visibility: hidden;
}

.collection .collection-item:not(.active):hover .secondary-content {
  visibility: visible;
}

.collection-charge-members:not(.active):hover {
  background-color: transparent !important;
}

.comments-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-comment {
  font-size: 12px;
}

.content-message {
  font-size: 14px;
}

.dropdown-button {
  padding-left: 10px;
  padding-right: 10px;
}

.error-message {
  padding-left: 0px !important;
}

.label-chip {
  top: 0px !important;
}

.map-action {
  /* border-right: 1px solid black; */
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.map-container {
  width: 100%;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.map-show-container {
  margin-bottom: 2rem;
}

.members-info {
  font-weight: bold;
}

.publication {
  margin-bottom: 0px;
}

.publication-comment {
  margin-top: 0px;
  margin-bottom: 1px;
}

.publications-action {
  margin-right: 15px;
}

.row-comment {
  margin-bottom: 0px;
}

.tabs-container {
  margin: 20px;
}

.tabs {
  margin-bottom: 11px !important;
}

.tabs .indicator {
  background-color: #009a80 !important;
  height: 3px !important;
}

.title-comment {
  font-size: 12px !important;
  font-weight: bold;
  color: #009a80;
}

.title-message {
  font-size: 14px !important;
  font-weight: bold;
  color: #009a80;
  margin-right: 10px;
}
