<template name="parishSingle">
  <div class="">
    <div>
      <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
          <div class="col s12 m12 l12">
            <a href="/parishes" class="breadcrumb">Parroquias</a>
            <a class="breadcrumb">{{parish.name}}</a>
          </div>
        </div>
      </nav>
      
    </div>
    <div class="parish-show-container">
      <div class="center-align">
        <h3>Parroquia/Capilla</h3>
      </div>
      <div class="input-field">
        <input id="parish_name_show" class="input-disabled" type="text" value="{{parish.name}}" disabled>
        <label class="active label-disabled" for="parish_name_show">Nombre de la parroquia/capilla</label>
      </div>
      <div class="input-field">
        <input id="parish_ubication_show" class="input-disabled" type="text" value="{{parish.location}}" disabled>
        <label class="active label-disabled" for="parish_ubication_show">Ubicacion de la parroquia/capilla</label>
      </div>
      
      {{> ShowMap }}
    
      <div class="input-field">
        <input id="parish_in_charge_show" class="input-disabled" type="text" value="{{parish.inCharge}}" disabled>
        <label class="active label-disabled" for="parish_ubication_show">Encargado de la parroquia/capilla</label>
      </div>
    </div>
  </div>  
</template>