.input-disabled {
  color: rgba(0,0,0,0.87) !important;
  border-bottom: 1px solid #9e9e9e !important;
}

.label-disabled {
  color: #26a69a !important;  
}

.parish-show-container {
  margin: 20px;
}