<template name="kardex">
  <article>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Kardex: {{> currentUser}}</h3>
      </div>
      <div class="panel-body">
        <p>_id kardex: {{ kardex._id }}</p>
        <p>Grupos: </p>
        {{#each kardex.groups}}
          {{> groupOnKardex}}
        {{/each}}
        <p>Eventos: </p>
        {{#each kardex.events}}
          {{> eventOnKardex}}
        {{/each}}
      </div>
    </div>
  </article>
</template>

<template name="currentUser">
  {{#each currentUser.emails}}
    {{this.address}}
  {{/each}}
</template>

<template name="groupOnKardex">
  <p>Grupo: {{ groupOnKardex.name }}</p>
  <p>Creado en: {{createdGroupAt}}</p>
</template>

<template name="eventOnKardex">
  <p>Grupo: {{ eventOnKardex.name }}</p>
  <p>Creado en: {{createdEventAt}}</p>
</template>