.avatar-header {
  /*background-image: url('images/bg.png');*/
  background-color: #00695C;
  /*background-color: rgba(100,190,190, .7);*/
  height: 140px;
  width: 100%;
}

.avatar-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 26px;
  background-color: white;
}

.avatar-content{
  background-color: #00695C;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 18px;
}