<template name="Layout">
  <nav class="my-background">
    <div class="nav-wrapper container">
      <a href="" class="brand-logo">Pastoral Juvenil</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/groups">Grupos</a></li>
        <li><a href="/members">Miembros</a></li>
        <li><a href="/parishes">Parroquias</a></li>
        <li><a href="/events">Eventos</a></li>
        <li><a href="/kardex">Kardex</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/groups">Grupos</a></li>
        <li><a href="/members">Miembros</a></li>
        <li><a href="/parishes">Parroquias</a></li>
        <li><a href="/events">Eventos</a></li>
        <li><a href="/kardex">Kardex</a></li>
      </ul>
    </div>
  </nav>
</template>