<template name="event">
  <div class="">
    <div>
      <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
          <div class="col s12 m12 l12">
            <a href="/events" class="breadcrumb">Eventos</a>
            <a class="breadcrumb">{{event.name}}</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="parish-show-container">
      <div class="">
        <div class="center-align col s12 m12 l12">
          <h3>
            Evento
            <a
              href="/events/{{event._id}}/edit"
              class="btn-floating btn-large waves-effect waves-light orange accent-4 right-align">
              <i class="material-icons">edit</i>
            </a>
            <a
              href="#modalDelete"
              class="btn-floating btn-large waves-effect waves-light red darken-1 right-align modal-trigger">
              <i class="material-icons">delete</i>
            </a>
          </h3>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="event_name_show" class="input-disabled" type="text" value="{{event.name}}" disabled>
          <label class="active label-disabled" for="event_name_show">Nombre del evento</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m9 l9">
          <input id="event_ubication_show" class="input-disabled" type="text" value="{{event.ubication}}" disabled>
          <label class="active label-disabled" for="event_ubication_show">Ubicacion del evento</label>
        </div>
        <div class="input-field col s12 m3 l3">
          <input id="event_inscription_show" class="input-disabled" type="text" value="{{event.radius}} metros" disabled>
          <label class="active label-disabled" for="event_inscription_show">Rango de inscripci&oacute;n</label>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card white">
            <div class="card-content card-map-content">
              {{> showMap }}   
            </div>
            <div class="card-action card-map-action">
              <div class="row">
                <div class="col s6 m6 l6 map-action">
                  <p class="center-align ">
                    <a href="/events/{{event._id}}/inscription"><i class="tiny material-icons">star</i> Me interesa</a>
                  </p>
                </div>
                <div class="col s6 m6 l6">
                  <p class="center-align">
                    <a href="/events/{{event._id}}/inscription"><i class="tiny material-icons">check</i> Inscribirme</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-field">
        <input id="event_parish_show" class="input-disabled" type="text" value="{{event.parish}}" disabled>
        <label class="active label-disabled" for="event_parish_show">Parroquia/Capilla</label>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">perm_contact_calendar</i>
          <input id="event_date_show" type="text" class="datepicker" value="{{eventDate}}" readonly>
          <label class="active label-disabled" for="event_date_show">Fecha</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">schedule</i>
          <input id="event_hour_show" type="time" class="timepicker" value="{{eventHour}}" readonly>
          <label class="active label-disabled" for="event_hour_show">Hora</label>
        </div>
      </div>

      <div class="input-field">
        <label class="active label-disabled">Encargadas/os del grupo:</label><br>
        <div class="row">
          {{#each inCharge in inCharges}}
            <div class="col s12 m6 l6">
              <ul class="collection">
                <li class="collection-item avatar collection-charge-members">
                  <i class="material-icons circle gray">person</i>
                  <span class="title">{{inCharge.name}}</span>
                  <p>Telefono: {{inCharge.phone}}<br></p>
                  <a href="#!"><i class="tiny material-icons">mail</i> Mensaje</a>
                </li>
              </ul>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="input-field">
        <label class="active label-disabled">Miembros del grupo:</label><br>
        <div class="row">
          {{#each member in members}}
            <div class="col s12 m6 l6">
              <ul class="collection">
                <li class="collection-item avatar collection-charge-members">
                  <i class="material-icons circle green">person</i>
                  <span class="title">{{member.name}}</span>
                  <p>Telefono: {{member.phone}}</p>
                  <a href="#!"><i class="tiny material-icons">mail</i> Mensaje</a>
                </li>
              </ul>
            </div>
          {{/each}}
        </div>
        <p><span class="members-info">{{group.members.length }} peronas</span> son parte de este grupo. <a href="#!">Ver todos.</a></p>
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <label class="active label-disabled" for="event_description_show">Descripci&oacute;n del evento:</label>
          <div class="card teal">
            <div class="card-content white-text">
              <p>{{event.description}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
  
  <!-- Modal Structure -->
  <div id="modalDelete" class="modal">
    <div class="modal-content">
      <h4>Cuidado!</h4>
      <p>Est&aacute;s segur@ de que quieres eliminar este evento?</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a id='delete_event' class="modal-action waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>
</template>