<template name="newGroup">
  <div class="row">
    <div class="col s12 m12 l12">      
      <form id="new-group" class="new-group-container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="group_name_create" type="text" class="validate" autocomplete="off" data-length="64" maxlength="64">
            <label class="col s12 m12 l12 error-message" id="label_group_name_create" for="group_name_create" data-error="Agrega un nombre para el grupo">Nombre del grupo</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="group_ubication_create" type="text" class="validate">
            <label class="col s12 m12 l12 error-message active" id="label_group_ubication_create" for="group_ubication_create" data-error="Agrega una ubicaci&oacute;n para el grupo">Ubicacion del grupo</label>
          </div>
        </div>

        {{> showMap }}

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label id="label_group_in_charges_create">Encargados del grupo</label>
            <div id="in_charges_create" class="chips chips-placeholder chips-autocomplete"></div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
              <label>Miembros del grupo</label>
            <div id="members_create" class="chips chips-placeholder chips-autocomplete"></div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label id="label_group_description_create" class="active label-disabled">Descripci&oacute;n del grupo:</label>
            <div class="card teal">
              <div class="card-content card-content-description white-text">
                <textarea id="group_description_create" type="text" class="materialize-textarea validate"></textarea>
              </div>
            </div>
          </div>
        </div>
        
        <div class="input-field">
          <div class="row">
            <input type="submit" class="btn btn-primary col s12 m6 l6 offset-m3 offset-l3" value="Crear grupo">
          </div>
        </div>
        
      </form>
    </div>
  </div>
</template>