<template name="Groups">
  {{> NewGroup}}
  <legend>Grupos:</legend>
  <button class="waves-effect waves-light btn">leo pappapa</button>
  <p>usuarios: </p>
    {{#each users}}
      {{> user}}
    {{/each}}

  <p>grupito: </p>
  {{> Grupito}}

  <section class="groups">
    {{#if Template.subscriptionsReady}}
      {{#each groups}}
        {{> Group}}
      {{/each}}
    {{else}}
      <p>Loading...</p>
    {{/if}}

    
  </section>
</template>

<template name="user">
  <li>{{_id}}</li>
</template>

<template name="Grupito">
  <li>{{gru._id}}</li>
  emails:
  {{#each gru.emails}}
    {{> email}}
  {{/each}}
</template>

<template name="email">
  <li>{{address}}</li>
</template>