body {
  background-image: url('images/login.jpg');
  /* background-image: url('images/bg02.png'); */
  background-repeat: repeat;
  height:100%;
  /*overflow:hidden;*/
}

.background-container {
  background: white;
}

.sing-in-container {
  margin-top: 12.5%;
} 

/* body {
  background-image: url('images/login.jpg');
  background-repeat: no-repeat;
  height:100%;
}

.background-container {
  background: white;
}*/