<template name="groupSingle">
  <div>
    <nav class="breadcrumb-nav">
      <div class="nav-wrapper">
        <div class="col s12 m12 l12">
          <a href="/groups" class="breadcrumb">Grupos</a>
          <a href="/groups/{{group._id}}" class="breadcrumb">{{group.name}}</a>
          <a class="breadcrumb">Modificando</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="center-align">
    <h3>
      <i class="small material-icons">edit</i>
      Modificando grupo
      <i class="small material-icons">edit</i>
    </h3>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">      
      <form id="new-group" class="new-group-container">
        <div class="input-field">
          <input id="group_name_edit" type="text" class="validate" autocomplete="off" data-length="64" maxlength="64" value="{{group.name}}" required>
          <label class="active" for="group_name_edit" data-error="Agrega un nombre para el grupo">Nombre del grupo</label>
        </div>
        <div class="input-field">
          <input id="group_ubication_edit" type="text" class="validate" value="{{group.location}}" >
          <label for="group_ubication_edit" class="active">Ubicacion del grupo</label>
        </div>

        <div class="input-field">
          <div id="search-content" style="visibility: hidden">
            <input id="search-input" class="search-input" type="text" placeholder="Buscar en google maps">
            <a id="search-btn" class="waves-effect waves-light btn"><i class="material-icons left">search</i></a>
          </div>
          <div class="map-container">
            {{> showMap }}
          </div>
        </div>

        <div class="input-field chip-input-field">
          <div id="inCharges_edit" class="chips chips-autocomplete"></div>
          <label class="active label-chip" for="inCharges_edit">Encargadas/os del grupo</label>
        </div>

        <div class="input-field chip-input-field">
          <div id="members_edit" class="chips chips-autocomplete"></div>
          <label class="active label-chip" for="members_edit">Miembros del grupo</label>
        </div>

        <div class="row">
          <div class="col s12">
            <div class="input-field">
              <i class="material-icons prefix">description</i>
              <textarea id="group_description_edit" class="materialize-textarea" value="{{group.description}}"></textarea>
              <label class="active" for="group_description_edit">Descripcion del grupo</label>
            </div>
          </div>
        </div>
        
        <div class="input-field">
          <div class="row">
            <input type="submit" class="btn btn-primary col s6 m3 l3 offset-m3 offset-l3" value="Guardar cambios">
            <input type="submit" class="btn btn-secondary col s5 m3 l3 offset-s1 offset-m1 offset-l1" value="Cancelar">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
    