<template name="layout">
  <div class="">
    <div id="container-side-nav">
      <div id="menu">
        <ul id="slide-out" class="side-nav fixed">
          <li>
            <div class="user-view center-align">
              <div class="background">
                <img class="user-background-profile" src="/images/bkg1.jpg">
              </div>
              <a href="#!user"><img class="circle avatar" src="http://lorempixel.com/250/250/people/"></a>
              <a href="#!name"><span class="white-text name">{{ userName }}</span></a>
              <a href="#!email"><span class="white-text email">{{ userEmail }}</span></a>
            </div>
          </li>
          <li class="{{active 'notifications'}}">
            <a href="/notifications"><i class="material-icons">notifications</i>Notificaciones
              {{# if hasUnreadNotification unReadNotificationUser}}
                <span class="new badge red darken-1" data-badge-caption="{{ unReadNotificationUser }}">+</span>
              {{/if}}
            </a>
          </li>
          <li class="{{active 'events'}}"><a href="/events"><i class="material-icons">event</i>Eventos</a></li>
          <li class="{{active 'groups'}}"><a href="/groups"><i class="material-icons">group</i>Grupos</a></li>
          <li class="{{active 'parishes'}}"><a href="/parishes"><i class="material-icons">location_city</i>Parroquias</a></li>
          <li class="{{active 'vicarages'}}"><a href="/vicarages"><i class="material-icons">bubble_chart</i>Vicar&iacute;as</a></li>
          <li class="{{active 'messages'}}">
            <a href="/messages"><i class="material-icons left">email</i>Mensajes
              {{# if hasUnreadMessage unReadMessageUser}}
                <span class="new badge red darken-1" data-badge-caption="{{ unReadMessageUser.length }}">+</span>
              {{/if}}
            </a>
          </li>
          <li class="{{active 'reports'}}"><a href="/reports"><i class="material-icons">equalizer</i>Estad&iacute;sticas</a></li>
          <li>{{>atNavButton}}</li>
        </ul>
      </div>
      <div>
        <nav class="my-background">
          <div class="nav-wrapper">
            <a href="" class="brand-logo center">PJV</a>
            <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>  
          </div>
        </nav>
        <div id="content-side-nav">
          <div class="row">
            <div class="container background-container">
              <main class="main-layout">
                {{> Template.dynamic template=main}}
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</template>