<template name="Events">
  <div class="row">
    <div class="col m2 other-background">
      {{> Avatar}}
      {{> EventMenu}}
    </div>

    <div class="col m6">
      <!--<div class="info">
        <span class="date">
          <span class="month">Jul</span>
          <span class="day">14</span>
        </span>
        <span class="stats">
          <i class="material-icons">forum</i>
          <label class="info-style">9999</label>
        </span>
        <span class="stats">
          <i class="material-icons">supervisor_account</i>
          <label class="info-style"> 16</label>
        </span>
        <span class="stats" style="text-align: center;">
          <i class="material-icons">location_on</i>
        </span>
      </div>
      
      <div class="info-card">
        {{#if selectedEvent}}
          <div class="card event-card">
            <div class="card-content event-content">
              <img class="activator event-image" src="images/4.jpg">
              <div class="event-information">
                <span class="card-title">{{selectedEvent.name}}</span>
                <p>{{selectedEvent.desc}}</p>
              </div>
            </div>
            <div class="card-action">
              <a href="#">Detalles</a>
              <a href="#">Me Interesa</a>
            </div>
          </div>
        {{/if}}
      </div>-->
      {{#with events}}
        {{ >EventsDashboardSection}}
      {{/with}}
    </div>

    <div class="col m4 back-ground">      
      <!--{{ title }}
      <ul class="collection">
        {{#each events}}
          <li class="collection-item avatar" id="{{this._id}}">
            <img src="images/5.jpg" alt="" class="circle">
            <span class="title collection-title">{{ this.name }}</span>
            <p class="collection-date"><i class="tiny material-icons">query_builder</i> {{ this.date }}</p>
            <p class="collection-content">{{ this.desc }}</p>
          </li>
        {{/each}}
      </ul>-->

      {{ >EventsOptionsSection}}
    </div>
  </div>
</template>