<template name="kardexInChargeEvents">
  <div class="collection">
    {{#if Template.subscriptionsReady}}
      {{#each event in inChargeEvents}}
        <a href="/events/{{event._id}}" class="collection-item">
          <span class="title">{{event.name}}</span>
          <p><i class="tiny material-icons">location_on</i> {{event.ubication}}</p>
          <i class="material-icons secondary-content">format_list_bulleted</i>
        </a>
      {{/each}}
    {{else}}
      <p>Loading...</p>
    {{/if}}
  </div>
</template>