<template name="parishDetail">
  <div>
    <nav class="breadcrumb-nav">
      <div class="nav-wrapper">
        <div class="col s12 m12 l12">
          <a href="/reports" class="breadcrumb">Reportes</a>
          <a class="breadcrumb">{{parishName}}</a>
        </div>
      </div>
    </nav>

    <div class="parish-show-container">
      <div class="center-align">
        <h3>
          Parroquia/Capilla
          <a
            href="/parishes/{{parishId}}"
            class="btn-floating btn-large waves-effect waves-light orange accent-4 right-align">
            <i class="large material-icons">location_city</i>
          </a>
        </h3>
      </div>
    </div>
    <div class="input-field">
      <input id="parish_detail_name_show" class="input-disabled" type="text" value="{{parishName}}" disabled>
      <label class="active label-disabled" for="parish_detail_name_show">Nombre de la parroquia/capilla</label>
    </div>

    {{> showMap }}
  </div>
</template>