<template name="Parishes">
  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s6 m6 l6"><a class="active" href="#parishes"><i class="material-icons">list</i> Parroquias</a></li>
        <li class="tab col s6 m6 l6"><a href="#create-parish"><i class="material-icons">add</i> Crear parroquia/capilla</a></li>
      </ul>
    </div>
    <div id="parishes" class="col s12 m12 l12">
      <div class="parishes-container">
        <div class="collection">
          {{#if Template.subscriptionsReady}}
            {{#each parishes}}
            <a href="/parishes/{{_id}}" class="collection-item"><span class="title">{{name}}</span><p>{{location}}</p><i class="material-icons secondary-content">input</i></a>
            {{/each}}
          {{else}}
            <p>Loading...</p>
          {{/if}}
        </div>
        <!-- {{#if Template.subscriptionsReady}}
          {{#each parishes}}
          
            {{> Parish}}
          {{/each}}
        {{else}}
          <p>Loading...</p>
        {{/if}} -->
      </div>
    </div>
    <div id="create-parish" class="col s12 m12 l12">
      {{> NewParish}}
    </div>
  </div>
</template>