<template name="NewParish">
  <div class="row">
    <div class="col s12 m12 l12">      
      <form id="new-parish" class="new-group-container">
        <div class="input-field">
          <input id="parish_name" type="text" class="validate" autocomplete="off" data-length="64" maxlength="64" required>
          <label for="parish_name" data-error="Agrega un nombre para la parroquia/capilla">Nombre de la parroquia/capilla</label>
        </div>
        <div class="input-field">
          <input id="parish_ubication" type="text" class="validate">
          <label for="parish_ubication" class="active">Ubicacion de la parroquia/capilla</label>
        </div>
        <div class="input-field">
          <div class="map-container">
            <div id="search-content" >
              <input id="search-input" class="search-input" type="text" placeholder="Buscar en google maps">
              <a id="search-btn" class="waves-effect waves-light btn"><i class="material-icons left">search</i></a>
            </div>
            {{> googleMap name="parishMap" options=mapOptions}}
          </div>
        </div>
        <div class="input-field">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="parish_in_charge" class="autocomplete" autocomplete="off">
              <label for="autocomplete">Encargado de la parroquia/capilla</label>
            </div>
          </div>
        </div>
        
        <div class="input-field">
          <div class="row">
            <input type="submit" class="btn btn-primary col s12 m6 l6 offset-m3 offset-l3" value="Crear">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>