<template name="newParish">
  <div class="row">
    <div class="col s12 m12 l12">      
      <form id="new-parish" class="new-group-container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="parish_name_create" type="text" class="validate" autocomplete="off" data-length="64" maxlength="64">
            <label class="col s12 m12 l12 error-message" id="label_parish_name_create" for="parish_name_create" data-error="Agrega un nombre para la parroquia/capilla">Nombre de la parroquia/capilla</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="parish_ubication_create" type="text" class="validate">
            <label class="col s12 m12 l12 error-message active" id="label_parish_ubication_create" for="parish_ubication_create" data-error="Agrega un ubicación para la parroquia/capilla">Ubicaci&oacute;n de la parroquia/capilla</label>
          </div>
        </div>

        {{> showMap }}

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Encargados</label>
            <div id="parish_members_create" class="chips chips-placeholder chips-autocomplete"></div>
          </div>
        </div>

        <div class="input-field">
          <div class="row">
            <a id='cancel_new_parish' class="btn col s6 m3 l3 offset-m3 offset-l3 red">Cancelar</a>
            <input type="submit" class="btn col s5 m3 l3 offset-s1 offset-m1 offset-l1" value="Guardar">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>