<template name="newEvent">
  <div class="row" id="newEventView">
    <div class="col s12 m12 l12">      
      <form class="new-event" id="new-event">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="event_name_create" type="text" autocomplete="off" data-length="64" maxlength="64" class="validate">
            <label class="col s12 m12 l12 error-message" id="label_event_name_create" for="event_name_create" data-error="Agrega un nombre para tu evento">Nombre del evento</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <input id="event_ubication_create" type="text" class="validate">
            <label class="col s12 m12 l12 error-message active" id="label_event_ubication_create" for="event_ubication_create" data-error="Agrega una ubicaci&oacute;n para tu evento">Ubicaci&oacute;n del evento</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m3 l3">
            <input id="event_inscription_create" type="text" value="{{eventRadio}} metros" readonly>
            <label class="error-message active" id="label_event_inscription_create" for="event_inscription_create" data-error="Agrega una rango">Rango de inscripci&oacute;n</label>
          </div>
          <div class="input-field col s12 m9 l9">
            <input id="event_inscription_range_create" type="range" min="10" max="100" step="10" value="100">
          </div>
        </div>

        {{> showMap }}
        
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">perm_contact_calendar</i>
            <input id="event_date_create" type="text" class="datepicker">
            <label class="error-message active" id="label_event_date_create" for="event_date_create" data-error="Agrega una fecha para el evento">Fecha</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">schedule</i>
            <input id="event_hour_create" type="text" class="timepicker">
            <label class="error-message active" id="label_event_hour_create" for="event_hour_create" data-error="Agrega una Hora para el evento">Hora</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label id="label_event_in_charges_create">Encargados del evento</label>
            <div id="in_charges_event_create" class="chips chips-placeholder chips-autocomplete"></div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
              <label>Inscritos actualmente</label>
            <div id="members_event_create" class="chips chips-placeholder chips-autocomplete"></div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label id="label_event_description_create" class="active label-disabled">Descripci&oacute;n del evento:</label>
            <div class="card teal">
              <div class="card-content card-content-description white-text">
                <textarea id="event_description_create" type="text" class="materialize-textarea validate"></textarea>
              </div>
            </div>
          </div>
        </div>
        
        <div class="input-field">
          <div class="row">
            <a id='cancel_new_event' class="btn col s6 m3 l3 offset-m3 offset-l3 red">Cancelar</a>
            <input type="submit" class="btn col s5 m3 l3 offset-s1 offset-m1 offset-l1" value="Guardar">
          </div>
        </div>
      </form>
    </div>
  </div>
</template>