<template name="group">
  <div class="">
    <div>
      <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
          <div class="col s12 m12 l12">
            <a href="/groups" class="breadcrumb">Grupos</a>
            <a class="breadcrumb">{{group.name}}</a>
          </div>
        </div>
      </nav>
    </div>
    
    <div class="parish-show-container">
      <div class="center-align">
        <h3>Grupo
          <a
            href="/groups/{{group._id}}/edit"
            class="btn-floating btn-large waves-effect waves-light orange accent-4 right-align">
            <i class="material-icons">edit</i>
          </a>
          <a
            href="#modalDeleteGroup"
            class="btn-floating btn-large waves-effect waves-light red darken-1 right-align modal-trigger">
            <i class="material-icons">delete</i>
          </a>
        </h3>
      </div>
      
      <div class="input-field">
        <input id="group_name_show" class="input-disabled" type="text" value="{{group.name}}" disabled>
        <label class="active label-disabled" for="group_name_show">Nombre del grupo</label>
      </div>
      <div class="input-field">
        <input id="group_ubication_show" class="input-disabled" type="text" value="{{group.location}}" disabled>
        <label class="active label-disabled" for="group_ubication_show">Lugar de reunion</label>
      </div>

      {{> showMap }}

      <div class="input-field">
        <input id="group_parish_show" class="input-disabled" type="text" value="{{group.parish}}" disabled>
        <label class="active label-disabled" for="group_parish_show">Parroquia/Capilla</label>
      </div>

      <div class="input-field">
        <label class="active label-disabled">Encargadas/os del grupo:</label><br>
        <div class="row">
          {{#each inCharge in inCharges}}
            <div class="col s12 m6 l6">
              <ul class="collection">
                <li class="collection-item avatar collection-charge-members">
                  <i class="material-icons circle gray">person</i>
                  <span class="title">{{inCharge.name}}</span>
                  <p>Telefono: {{inCharge.phone}}<br></p>
                  <a href="#!"><i class="tiny material-icons">mail</i> Mensaje</a>
                </li>
              </ul>
            </div>
          {{/each}}
        </div>
      </div>

      <div class="input-field">
        <label class="active label-disabled">Miembros del grupo:</label><br>
        <div class="row">
          {{#each member in members}}
            <div class="col s12 m6 l6">
              <ul class="collection">
                <li class="collection-item avatar collection-charge-members">
                  <i class="material-icons circle green">person</i>
                  <span class="title">{{member.name}}</span>
                  <p>Telefono: {{member.phone}}</p>
                  <a href="#!"><i class="tiny material-icons">mail</i> Mensaje</a>
                </li>
              </ul>
            </div>
          {{/each}}
        </div>
        <p><span class="members-info">{{group.members.length }} peronas</span> son parte de este grupo. <a href="#!">Ver todos.</a></p>
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <label class="active label-disabled" for="group_description">Descripcion del grupo:</label>
          <div class="card teal">
            <div class="card-content white-text">
              <p>{{group.description}}</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12 l12">
          <label class="active label-disabled" for="group_description">Publicaciones del grupo:</label>
          <div class="card blue-grey darken-1">
            {{# if hasPublications publicationsCount}}
              <div class="card-content white-text">
                Este grupo tiene <span class="members-info">{{publicationsCount}}</span> publicaciones.
              </div>
              <div class="card-action">
                <a href="/groups/{{group._id}}/publications"><i class="tiny material-icons">forum</i> Ver Publicaciones</a>
              </div>
            {{else}}
              <div class="card-content white-text">
                Se el primero el realizar una publicaci&oacute;n <i class="tiny material-icons">forum</i>
              </div>
              <div class="card-action">
                <a href="/groups/{{group._id}}/publications"><i class="tiny material-icons">forum</i> Crear publicaci&oacute;n</a>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal Structure -->
  <div id="modalDeleteGroup" class="modal">
    <div class="modal-content">
      <h4>Cuidado!</h4>
      <p>Est&aacute;s segur@ de que quieres eliminar este grupo?</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a id='delete_group' class="modal-action waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>
</template>