<template name="eventInscription">
  <div class="">
    <div>
      <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
          <div class="col s12 m12 l12">
            <a href="/events" class="breadcrumb">Eventos</a>
            <a href="/events/{{event._id}}" class="breadcrumb">{{event.name}}</a>
            <a class="breadcrumb">Inscripci&oacute;n</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="center-align col s12 m12 l12">
        <h3>Confirma tu inscripci&oacute;n</h3>      
      </div>
    </div>

    {{> showMap }}

    {{#if isEnableInscription }}
      <div class="row">
        <div class="card-panel teal darken-1 valign-wrapper">
          <i class="small material-icons white-text event-emoticon">sentiment_very_satisfied</i>
          <span class="white-text">
            Para confirmar tu inscripci&oacute;n debes presionar el bot&oacute;n "INSCRIBIRME" y autom&aacute;ticamente estar&aacute;s inscrit&#64; en el evento...
          </span>
        </div>
      </div>
      <div class="row">    
        <div class="col s6 m3 l3 offset-m3 offset-l3">
          <a class="waves-effect waves-light btn grey darken-1">Cancelar</a>
        </div>
        <div class="col s5 m3 l3 offset-s1 offset-m1 offset-l1">
          <a id='event_sing_up' class="waves-effect waves-light btn"><i class="material-icons left">done_all</i>Inscribirme</a>
        </div>    
      </div>
    {{else}}
      <div class="card-panel orange darken-1 valign-wrapper">
        <i class="small material-icons white-text event-emoticon">sentiment_very_dissatisfied</i>
        <span class="white-text">No puedes inscribirte a menos que estes dentro del area de inscripci&oacute;n...</span>
      </div>
    {{/if}}
    
  </div>
</template>